.theme-dark body {
  --color-paragraph-default: rgb(114, 115, 105) !important;
  --color-bg-default: rgb(5, 23, 23) !important;
  --color-pill-orange: rgb(249, 183, 72) !important;
  --color-mask-default: linear-gradient(
    rgb(5, 23, 23),
    rgba(5, 23, 23, 0)
  ) !important;
  --theme-gradient: linear-gradient(
    to bottom,
    rgba(5, 23, 23, 0),
    rgba(5, 23, 23, 1) 98%
  ) !important;
  --color-border-blue: rgb(155 196 188 / 0.2) !important;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

/*
    2. Remove default margin
  */
/*
  * {
    margin: 0 !important;
  }*/
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100% !important;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5 !important;
  position: relative !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block !important;
  max-width: 100% !important;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit !important;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word !important;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate !important;
}

:root {
  --max-width: 1200px !important;
  --transition: transform 0.2s ease-in-out !important;
  --font-size-0: 1rem;
  --font-size-1: 1.125rem;
  --font-size-2: 1.1875rem;
  --font-size-3: 2rem;
  --font-size-4: 3rem;
  --font-size-5: 4rem;
  --font-size-6: 4.5rem;
  --font-size-7: 5.5rem;
}

h1.notion-heading {
  font-size: var(--font-size-6) !important;
  font-weight: 500 !important;
  max-width: 50rem !important;
  top: -1rem !important;
  line-height: 1.2em !important;
  margin-bottom: 1rem !important;
}

h2.notion-heading {
  font-size: var(--font-size-4) !important;
  line-height: 1.1 !important;
  margin-bottom: 1.5rem !important;
  font-weight: 500 !important;
  max-width: 10em !important;
}

p,
p.notion-text__content {
  font-size: var(--font-size-1) !important;
  color: var(--color-paragraph-default) !important;
  letter-spacing: 0.025rem !important;
}

.notion-heading .notion-semantic-string {
  line-height: 1.2em !important;
}

@media screen and (max-width: 1288px) {
  h1.notion-heading {
    font-size: var(--font-size-6) !important;
  }
  p {
    font-size: var(--font-size-0) !important;
  }
}
.super-navbar {
  width: var(--max-width) !important;
  max-width: var(--max-width) !important;
  margin: auto !important;
  padding: 0 80px !important;
}

/* <-- home page --> */
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
h1.notion-heading {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 0.5s ease-in-out 0s 1 slideInFromBottom;
}

#block-d65e3380c10b4ace94f723920fafaa3d {
  animation: 0.7s ease-in-out 0s 1 slideInFromBottom;
}

#block-16a698433de343b6b5f4e21e70fb941b {
  animation: 0.9s ease-in-out 0s 1 slideInFromBottom;
}

.notion-header__title {
  display: none !important;
}

.super-content.max-width {
  max-width: var(--max-width) !important;
  border-left: 1px var(--color-border-blue) solid !important;
  border-right: 1px var(--color-border-blue) solid !important;
}

.notion-semantic-string .link {
  color: var(--color-pill-orange) !important;
  border-bottom: 0px !important;
}

.notion-dropdown__button {
  display: none !important;
}

.notion-dropdown__menu.initial-state {
  z-index: 1 !important;
  opacity: 1 !important;
  transform: none !important;
}

.notion-dropdown__menu {
  background: none !important;
  box-shadow: unset !important;
  left: auto !important;
  top: auto !important;
  position: relative !important;
  transform: none !important;
}

.notion-dropdown__menu-header {
  display: none !important;
}

.notion-dropdown__option-list {
  display: flex !important;
  padding: 20px 0 0 0 !important;
  margin-left: -10px !important;
}

.notion-dropdown__option-icon {
  display: none !important;
}

.notion-dropdown__option:hover {
  background: none !important;
}

.notion-dropdown__menu.animate-out {
  animation: none !important;
}

.notion-collection-gallery {
  border-top: none !important;
}
.notion-collection-gallery .pill-default {
  background: 0 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}
.notion-collection-gallery .pill-red,
.notion-collection-gallery .pill-purple {
  background: var(--color-pill-orange) !important;
  color: white !important;
  border: none !important;
}
.notion-collection-gallery .notion-pill {
  text-transform: uppercase !important;
  font-weight: 500 !important;
  padding: 1px 8px 0 !important;
  border-radius: 50px !important;
  font-size: 10px !important;
  margin-inline-end: 10px !important;
}

.notion-header__cover.has-cover {
  position: absolute !important;
  width: 100% !important;
  opacity: 0.5 !important;
  max-height: 60vh !important;
  height: 60vh !important;
  z-index: -2 !important;
  top: 0 !important;
  -webkit-mask-image: var(--color-mask-default) !important;
  mask-image: var(--color-mask-default) !important;
}

.notion-header__cover.no-cover {
  display: none !important;
}

.notion-header__cover:after,
.footer-cover:before {
  content: "" !important;
  position: absolute !important;
  z-index: 1 !important;
  bottom: -2px !important;
  left: 0 !important;
  background-image: var(--theme-gradient) !important;
  width: 100% !important;
  height: 100% !important;
}

.notion-collection-card__cover {
  height: 100% !important;
}
.notion-collection-card__cover Picture {
  height: 100% !important;
}
.notion-collection-card__cover Picture img {
  padding: 0 !important;
  height: 100% !important;
  transition: var(--transition) !important;
}

.notion-header {
  margin-bottom: 0 !important;
}

.notion-header__content .notion-header__title-wrapper {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.notion-collection-card__content {
  color: var(--color-bg-default) !important;
  position: absolute;
  bottom: 0 !important;
  background: linear-gradient(to top, #6ba9a5 0, rgba(0, 0, 0, 0) 100%);
  width: 100%;
}

.notion-collection-card__property-list {
  display: flex !important;
}
