/* <-- home page --> */

//transition elements
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

h1.notion-heading {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 0.5s ease-in-out 0s 1 slideInFromBottom;
}

#block-d65e3380c10b4ace94f723920fafaa3d {
  animation: 0.7s ease-in-out 0s 1 slideInFromBottom;
}

#block-16a698433de343b6b5f4e21e70fb941b {
  animation: 0.9s ease-in-out 0s 1 slideInFromBottom;
}

//header
.notion-header__title {
  display: none !important;
}

.super-content.max-width {
  max-width: var(--max-width) !important;
  border-left: 1px var(--color-border-blue) solid !important;
  border-right: 1px var(--color-border-blue) solid !important;
}

.notion-semantic-string .link {
  color: var(--color-pill-orange) !important;
  border-bottom: 0px !important;
}

//table

.notion-dropdown__button {
  display: none !important;
}

.notion-dropdown__menu.initial-state {
  z-index: 1 !important;
  opacity: 1 !important;
  transform: none !important;
}

.notion-dropdown__menu {
  background: none !important;
  box-shadow: unset !important;
  left: auto !important;
  top: auto !important;
  position: relative !important;
  transform: none !important;
}

.notion-dropdown__menu-header {
  display: none !important;
}

//categories
.notion-dropdown__option-list {
  display: flex !important;
  padding: 20px 0 0 0 !important;
}

.notion-dropdown__option-icon {
  display: none !important;
}

.notion-dropdown__option {
  border: 1px var(--color-border-blue) solid !important;
  border-radius: 50px !important;
  transition: var(--transition) !important;
  margin: 10px 5px !important;
}

.notion-dropdown__option:hover {
  background-color: var(--color-border-blue) !important;
}

.notion-dropdown__menu.animate-out {
  animation: none !important;
}

//collection gallery
.notion-collection-gallery {
  border-top: none !important;
  .pill-default {
    background: 0 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
  }
  .pill-red,
  .pill-purple {
    background: var(--color-pill-orange) !important;
    color: white !important;
    border: none !important;
  }
  .notion-pill {
    text-transform: uppercase !important;
    font-weight: 500 !important;
    padding: 1px 8px 0 !important;
    border-radius: 50px !important;
    font-size: 10px !important;
    margin-inline-end: 10px !important;
  }
}

//cover image
.notion-header__cover.has-cover {
  position: absolute !important;
  width: 100% !important;
  opacity: 0.5 !important;
  max-height: 60vh !important;
  height: 60vh !important;
  z-index: -2 !important;
  top: 0 !important;
  -webkit-mask-image: var(--color-mask-default) !important;
  mask-image: var(--color-mask-default) !important;
}

.notion-header__cover.no-cover {
  display: none !important;
}

.notion-header__cover:after,
.footer-cover:before {
  content: "" !important;
  position: absolute !important;
  z-index: 1 !important;
  bottom: -2px !important;
  left: 0 !important;
  background-image: var(--theme-gradient) !important;
  width: 100% !important;
  height: 100% !important;
}

.notion-collection-card__cover {
  height: 100% !important;
  Picture {
    height: 100% !important;

    img {
      padding: 0 !important;
      height: 100% !important;
      transition: var(--transition) !important;
    }
  }
}

//border
.notion-header {
  margin-bottom: 0 !important;
}
.notion-header__content .notion-header__title-wrapper {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.notion-collection-card__content {
  color: var(--color-bg-default) !important;
  position: absolute !important;
  display: inline-grid !important;
  height: 200px !important;
  align-content: end !important;
  bottom: 0 !important;
  background: linear-gradient(180deg, rgba(149, 203, 201, 0) 0%, #95cbc9 100%);
  width: 100%;
}

.notion-collection-card__property-list {
  display: flex !important;
}

.notion-collection-card:hover .notion-collection-card__cover img {
  transform: scale(1.05) !important;
  -webkit-transform: scale(1.05) !important;
}

//toggle
.notion-toggle {
  border: 1px solid var(--color-border-blue) !important;
  border-radius: 5px !important;
  text-align: left !important;
  margin: -0.5px !important;
  position: relative !important;
  transition: 0.3s ease-in-out !important;
}

.notion-toggle-heading-3 > .notion-toggle__summary {
  margin-top: 0px !important;
}

.notion-toggle__summary::before {
  position: absolute !important;
  right: 20px !important;
  opacity: 0.4 !important;
  content: "+" !important;
}

.notion-toggle[open] > summary::before {
  content: "-" !important;
}

.notion-toggle__summary:hover:before {
  background: none !important;
  opacity: 1 !important;
}

.notion-toggle__summary {
  padding: 25px 70px 25px 0px !important;
}

.notion-toggle__trigger {
  margin-right: 25px !important;
}

.notion-toggle__trigger_icon {
  display: none !important;
}

.notion-toggle__content {
  padding: 0px 30px 20px 30px !important;
  background: var(--color-hover-default) !important;
  transition: 0.3s ease-in-out !important;
}
