/* <-- home page --> */

//transition elements
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.notion-collection-card.gallery {
  animation: 0.6s ease-in-out 0s 1 fade-in !important;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

h1.notion-heading {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 0.5s ease-in-out 0s 1 slideInFromBottom;
}

#block-d65e3380c10b4ace94f723920fafaa3d {
  animation: 0.7s ease-in-out 0s 1 slideInFromBottom;
}

#block-16a698433de343b6b5f4e21e70fb941b {
  animation: 0.9s ease-in-out 0s 1 slideInFromBottom;
}

//header
.notion-header__title {
  display: none !important;
}

.super-content.max-width {
  max-width: var(--max-width) !important;
  border-left: 1px var(--color-border-blue) solid !important;
  border-right: 1px var(--color-border-blue) solid !important;
}

.notion-semantic-string .link {
  color: var(--color-pill-orange) !important;
  border-bottom: 0px !important;
}

//table

.notion-dropdown__button {
  display: none !important;
}

.notion-dropdown__menu.initial-state {
  z-index: 1 !important;
  opacity: 1 !important;
  transform: none !important;
}

.notion-dropdown__menu {
  background: none !important;
  box-shadow: unset !important;
  left: auto !important;
  top: auto !important;
  position: relative !important;
  transform: none !important;
}

.notion-dropdown__menu-header {
  display: none !important;
}

//categories
.notion-dropdown__option-list {
  display: flex !important;
  padding: 20px 0 0 0 !important;
}

.notion-dropdown__option-icon {
  display: none !important;
}

.notion-dropdown__option {
  border: 1px var(--color-border-blue) solid !important;
  border-radius: 50px !important;
  transition: var(--transition) !important;
  margin: 10px 5px !important;
}

.notion-dropdown__option:hover {
  background-color: var(--color-border-blue) !important;
}

.notion-dropdown__menu.animate-out {
  animation: none !important;
}

//collection gallery
.notion-collection-gallery {
  border-top: none !important;
  .pill-default {
    background: 0 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
  }
  .pill-red,
  .pill-purple {
    background: var(--color-pill-orange) !important;
    color: white !important;
    border: none !important;
  }
  .notion-pill {
    text-transform: uppercase !important;
    font-weight: 500 !important;
    padding: 1px 8px 0 !important;
    border-radius: 50px !important;
    font-size: 10px !important;
    margin-inline-end: 10px !important;
  }
}

//cover image
.notion-header__cover.has-cover {
  position: absolute !important;
  width: 100% !important;
  opacity: 0.5 !important;
  max-height: 60vh !important;
  height: 60vh !important;
  z-index: -2 !important;
  top: 0 !important;
  -webkit-mask-image: var(--color-mask-default) !important;
  mask-image: var(--color-mask-default) !important;
}

.notion-header__cover.no-cover {
  display: none !important;
}

.notion-header__cover:after,
.footer-cover:before {
  content: "" !important;
  position: absolute !important;
  z-index: 1 !important;
  bottom: -2px !important;
  left: 0 !important;
  background-image: var(--theme-gradient) !important;
  width: 100% !important;
  height: 100% !important;
}

.notion-collection-card__cover {
  height: 100% !important;
  Picture {
    height: 100% !important;

    img {
      padding: 0 !important;
      height: 100% !important;
      transition: var(--transition) !important;
    }
  }
}

//border
.notion-header {
  margin-bottom: 0 !important;
}
.notion-header__content .notion-header__title-wrapper {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.notion-collection-card__content {
  color: var(--color-bg-default) !important;
  position: absolute !important;
  display: inline-grid !important;
  height: 200px !important;
  align-content: end !important;
  bottom: 0 !important;
  background: linear-gradient(180deg, rgba(149, 203, 201, 0) 0%, #95cbc9 100%);
  width: 100%;
}

.notion-collection-card__property-list {
  display: flex !important;
}

.notion-collection-card:hover .notion-collection-card__cover img {
  transform: scale(1.05) !important;
  -webkit-transform: scale(1.05) !important;
}

//toggle
.notion-toggle {
  border: 1px solid var(--color-border-blue) !important;
  border-radius: 5px !important;
  text-align: left !important;
  margin: -0.5px !important;
  position: relative !important;
  transition: 0.3s ease-in-out !important;
}

.notion-toggle-heading-3 > .notion-toggle__summary {
  margin-top: 0px !important;
}

.notion-toggle__summary::before {
  content: none !important;
}

.notion-toggle:before {
  content: "+" !important;
  position: absolute !important;
  font-weight: 100 !important;
  font-size: 24px !important;
  line-height: 1 !important;
  top: 25px !important;
  right: 18px !important;
}

.notion-toggle.open:before {
  content: "+" !important;
  position: absolute !important;
  font-weight: 100 !important;
  font-size: 24px !important;
  line-height: 1 !important;
  top: 25px !important;
  right: 18px !important;
  transform: rotate(45deg) !important;
  transition: transform 0.2s ease-in-out !important;
}

.notion-toggle:hover:before {
  cursor: pointer !important;
  opacity: 0.4 !important;
  transition: opacity 0.3s ease-in-out;
}

.notion-toggle__summary:hover:before {
  background: none !important;
  opacity: 1 !important;
}

.notion-toggle__summary {
  padding: 25px 70px 25px 0px !important;
}

.notion-toggle__trigger {
  margin-right: 25px !important;
}

.notion-toggle__trigger_icon {
  display: none !important;
}

.notion-toggle__content {
  padding: 0px 30px 20px 30px !important;
  background: var(--color-hover-default) !important;
  transition: 0.3s ease-in-out !important;
}

//callout
.notion-callout.bg-gray-light.border {
  background-color: transparent !important;
  border-color: var(--color-border-blue) !important;
}

.notion-callout__icon {
  display: none !important;
}

.notion-callout__content {
  margin-inline-start: 0px !important;
  padding: 0 20px;
  .notion-column-list {
    display: flex;
    align-items: center;
  }
}

.notion-embed__container {
  position: unset !important;
}

.sc-5dd7ce2b-0 .jtGePq {
  display: none !important;
}

.hhEHPu {
  display: none !important;
}

//button
.notion-root
  .notion-text
  .notion-text__content
  .notion-semantic-string
  span
  strong
  .notion-link,
.notion-text
  .notion-text__content
  .notion-semantic-string
  span
  .notion-link
  strong {
  opacity: 1;
  border: 1px solid var(--color-border-blue) !important;
  border-radius: 50px !important;
  text-align: left !important;
  padding: 8px 12px;
  margin: -0.5px !important;
  transition: background 0.3s ease-in-out !important;

  &:hover {
    background: var(--color-hover-default) !important;
    transition: var(--transition) !important;
  }
}

#block-1f1f9ce0c3694e888395ef682636227a {
  display: none !important;
}

//Subscribe form
.container-wrapper {
  margin: 0 auto !important;
  position: relative !important;
}

.subscribe-wrapper {
  margin: 0 auto !important;
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}

form {
  align-items: center;
  padding: 40px;
  gap: 35px;
  align-content: center;
  display: grid;
  border-radius: 5px;
  margin: 0 auto;
  border: 1px solid rgb(155 196 188 / 0.2);
}
form img {
  margin: 0 auto;
  margin-top: -120px !important;
  display: flex !important;
  align-content: center !important;
  width: 200px !important;
  height: 200px !important;
}

.title-wrapper {
  margin: 0 auto;
  padding-bottom: 0px;
  text-align: center;
}

.title-wrapper h3 {
  margin-block-start: 0em !important;
  margin-block-end: 0.2em !important;
}

.form-wrapper {
  align-items: baseline;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
}

input[type="submit"] {
  background: transparent;
  color: #fff;
  border: none;
  border-radius: 50px;
  border: 1px solid var(--color-border-blue);
  padding: 10px 18px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: var(--color-pill-orange);
}

//Inner pages

.parent-page__index {
  .notion-callout.bg-gray-light.border {
    position: sticky !important;
    top: 80px !important;
  }

  h1.notion-heading {
    font-size: var(--font-size-3) !important;
  }

  u {
    text-decoration: none !important;
    font-size: var(--font-size-2) !important;
    font-weight: 500 !important;
    color: var(--color-pill-orange) !important;
  }

  .notion-semantic-string .code {
    color: white !important;
    background: orange !important;
    border-radius: 50px !important;
    font-size: 15px !important;
    font-family: inter !important;
  }
}

//small gallery
.notion-collection-gallery.small {
  grid-template-columns: 1fr 1fr !important;
  display: grid !important;
  gap: 40px !important;
}
.notion-collection-gallery.small .notion-collection-card {
  display: flex !important;
  border-radius: 0px;
  padding: 2rem 0 !important;
  background: none !important;
  -webkit-transition: all 0.4s !important;
  transition: all 0.4s !important;
  box-shadow: none !important;
}

.notion-collection-gallery.small .notion-collection-card__cover.small {
  border-radius: 5px !important;
  flex: 0 33% !important;
  min-height: 160px !important;
  height: auto !important;
  margin: 0 20px 0 0 !important;
  min-width: 0px !important;
}

.notion-collection-card:hover .notion-collection-card__cover img {
  background: var(--color-mask-default) !important;
  transform: scale(1.08) rotate(0.01deg) !important;
  -webkit-transition: all 0.4s !important;
  transition: all 0.4s !important;
}

.notion-collection-gallery.small .notion-collection-card__content {
  width: 100% !important;
  flex: 1 1 0% !important;
  position: relative !important;
  align-content: start !important;
  background: transparent !important;
  color: white !important;
  display: flex-inline !important;
}
.notion-collection-gallery.small
  .notion-collection-card__property:nth-child(1) {
  font-size: var(--font-size-2) !important;
  font-weight: 600 !important;
  line-height: 1.2 !important;
  letter-spacing: 0.025rem !important;
  position: absolute !important;
  top: 0 !important;
}

.notion-collection-gallery.small
  .notion-collection-card
  .notion-property__title {
  margin-top: 25px !important;
  font-size: var(--font-size-2);
  margin-bottom: 15px !important;
}

.notion-collection-gallery.small
  .notion-property__title
  .notion-semantic-string {
  line-height: 1.5rem !important;
}

.notion-collection-gallery.small .notion-collection-card__property-list {
  display: flex !important;
  flex-direction: column !important;
}

.notion-collection-gallery.small
  .notion-collection-card__property:nth-child(2)
  .notion-semantic-string {
  font-size: 15px;
  font-weight: 400 !important;
  max-width: 100% !important;
  white-space: wrap !important;
  color: var(--color-paragraph-default) !important;
}

//blog page
.parent-page__blog .notion-header__cover.has-cover {
  border-left: 1px solid var(--color-border-default) !important;
  border-right: 1px solid var(--color-border-default) !important;
  position: relative !important;
  opacity: 0.9 !important;
  height: 40vh !important;
  width: 1200px !important;
  margin: auto !important;
}

.parent-page__blog article {
  width: 780px !important;
  margin: 0 auto !important;
}

.parent-page__blog p {
  margin-block-end: 1em !important;
}

.parent-page__blog .notion-heading {
  max-width: 12em !important;
}

//media queries

@media (max-width: 546px) {
  .notion-collection-gallery.large {
    grid-auto-columns: minmax(240px, 1fr) !important;
    grid-auto-flow: column !important;
    overflow: hidden !important;
    gap: 28px !important;
  }
  .form-wrapper {
    align-items: center;
    gap: 0;
    flex-direction: column;
  }

  input[type="email"] {
    margin-bottom: 0px !important;
  }
  //nav
  .super-navbar {
    width: 100% !important;
  }
  //footer
  .super-footer {
    width: 100% !important;
  }
  .super-footer.corners,
  .super-footer.floating {
    padding: 20px 20px 10px !important;
    grid-template-columns: 1fr !important;
  }

  //dropdown menu
  .notion-dropdown {
    width: 100% !important;
  }

  .notion-dropdown__button {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
    border: 1px solid var(--color-border-blue) !important;
    padding: 10px !important;
    border-radius: 5px !important;
  }

  .notion-dropdown__menu-wrapper {
    margin-bottom: 25px !important;
  }

  .notion-dropdown__menu.animate-out {
    animation: dropdown-animation-out 0.12s ease forwards !important;
  }

  .notion-dropdown__menu.animate-in {
    animation: dropdown-animation-in 0.12s ease forwards !important;
  }

  .notion-dropdown__menu {
    transform: transform 0.2s ease-in-out !important;
    background: white !important;
    position: absolute !important;
    width: 100% !important;
    margin-top: 5px !important;
    border-radius: 5px !important;
    border: 1px solid var(--color-border-blue) !important;
  }

  .notion-dropdown__option {
    height: 50px !important;
    padding: 5px 16px !important;
    border: 0px !important;
    border-radius: 0px !important;
    transition: var(--transition) !important;
    margin: 0px !important;
  }

  .notion-dropdown__menu.initial-state {
    opacity: 0 !important;
    z-index: -1 !important;
  }

  .notion-dropdown__menu-header,
  .notion-dropdown__button svg:first-of-type {
    display: none !important;
  }

  .notion-dropdown__option-list {
    padding: 0px !important;
    flex-direction: column !important;
  }
}
