//home page

.notion-header__title {
  display: none !important;
}

.super-content.max-width {
  max-width: var(--max-width) !important;
}

.notion-semantic-string .link {
  color: orange !important;
  border-bottom: 0px !important;
}

//table

.notion-dropdown__button {
  display: none !important;
}

.notion-dropdown__menu.initial-state {
  z-index: 1 !important;
  opacity: 1 !important;
  transform: none !important;
}

.notion-dropdown__menu {
  background: none !important;
  box-shadow: unset !important;
  left: auto !important;
  top: auto !important;
  position: relative !important;
  transform: none !important;
}

.notion-dropdown__menu-header {
  display: none !important;
}

.notion-dropdown__option-list {
  display: flex !important;
  padding: 20px 0 0 0 !important;
  margin-left: -10px !important;
}

.notion-dropdown__option-icon {
  display: none !important;
}

.notion-dropdown__option:hover {
  background: none !important;
}

.notion-dropdown__menu.animate-out {
  animation: none !important;
}

//collection gallery
.notion-collection-gallery {
  border-top: none !important;
}

#page-index .notion-header {
  display: none !important;
}

.notion-collection-card__cover {
  height: 100% !important;
}

.notion-collection-card__content {
  position: absolute;
  bottom: 0 !important;
  background: linear-gradient(to top, #6ba9a5 0, rgba(0, 0, 0, 0) 100%);
  width: 100%;
}
