.super-footer.corners,
.super-footer.floating {
  grid-template-columns: 2fr 1fr !important;
  border-color: var(--color-border-blue) !important;
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 80px 80px 20px !important;
}

.super-footer {
  width: 1200px;
  margin: auto;
  background: var(--color-hover-default) !important;
}

.super-footer__footnote {
  border-top: 1px solid var(--color-border-blue);
  padding-top: 15px !important;
}
